* {
    font-family:  Helvetica, Arial, sans-serif;
}

body{
    padding: 60px;
}

input{
    width: 100%;
    font-size: 1.3rem ;
    padding: 2px 10px;
    color: #d0d0d0;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    align-content: center;
    border: 1px solid #d0d0d0;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom:10px;
    margin-right:10px;
}

.card p{
    padding:5px ;
    text-align: center;
}

.card img{
    max-height: 170px;
    text-align: center;
}